@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #84d9ba;
    padding-top: 3%;
}

body {
    margin: 20vh 5vw 20vh 5vw;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#email {
    border-radius: 30px;
    width: 20vw;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    border: 1px solid black;
    text-indent: 5%;
}

#passwrd {
    border-radius: 30px;
    width: 20vw;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    border: 1px solid black;
    text-indent: 5%;
}

#signin-btn {
    border-radius: 30px;
    width: 20vw;
    margin: 15px 10px 25px 10px;
    border: 1px solid black;
}

#forget_pass {
    color: black;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    margin: 14.5px -50px;
    min-width: 50px;
}

.container {
    height: 60vh;
}

#signin {
    border: 1px solid black;
    background-color: white;
    width: 40%;
    min-height: auto;
    text-align: center;
    border-radius: 15px;
}