<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel= "stylesheet" href="login.css">
    <script src="../Model/validate.js"></script>
</head>
<body>
    <div id="signin" class="container text-center">
        <h1>Sign in</h1>
        <form id="form" method="post" onsubmit="return validateForm()">
            <div class="input-icons">
                <input type="text" placeholder="Email address" id="email" autocomplete="off" required>
                <i class="fa fa-envelope icon"></i>
            </div>
            <div class="input-icons">
                <input type="password" placeholder="Password" id="passwrd" autocomplete="off" required>
                <i class="fa fa-lock icon"></i>
            </div>
            <a id="forget_pass" href="#">Forget Password?</a><br>
            <button type="submit" id="signin-btn" class="btn btn-light">Sign in</button><br>
            <span>Don't have an account? <a href="register.html">Register</a></span>
        </form>
    </div>
</body>
</html>