<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register an account</title>
    <link rel= "stylesheet" href="register.css">
</head>
<body>
    <div id="register" class="container text-center">
        <h3>Register an account</h3>
        <form id="form" method="post">
            <div class="input-icons">
                <input type="text" placeholder="Full name" id="fullname" required>
                <i class="fa fa-user icon"></i>
            </div>
            <div class="input-icons">
                <input type="text" placeholder="Email address" id="email" autocomplete="off" required>
                <i class="fa fa-envelope icon"></i>
            </div>
            <div class="input-icons">
                <input type="password" placeholder="Password" id="passwrd" autocomplete="off" required>
                <i class="fa fa-lock icon"></i>
            </div>
            <button type="submit" id="register-btn" class="btn btn-light">CREATE AN ACCOUNT</button><br>
            <span>Already have an account? <a href="login.html">Sign in</a></span>
        </form>
    </div>
</body>
</html>